<h1>New Game</h1>
<p>Here is your grid:</p>

<ul>
  <% @letters.each do |letter| %>
      <li><%= letter %></li>
  <% end %>
</ul>

<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters %>
  <label>What is the longest word you can think of?</label><br>
  <input type="text" name="word" placeholder="write a word">
  <input type="submit">
</form>

